html {
    background: grey;
}

body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: black;
    border-top: 5px solid green;
    border-bottom: 5px solid green;
}


p {
    font-style: normal;
    font-size: 16px;
}

header {
    border-top: 5px dotted grey;
    
}

a {
    color: green;
}

#page-title {
  text-align: center;
  margin: auto;
}

.post {
    margin: 10px;

}

.postheader {
    border-top: dotted;
}

a[href$=".html"] {
    font-size: large;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#navlist{
  display: flex;
  list-style: None;
  margin: auto;
}

.navitem{
    margin: 20px;
    font-weight: bolder;
    opacity: 1;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  background-color: grey;
  opacity: 0.7;
}

.navlink{
    color: blue;
}

#posts{
    display: flex;
}


